
.header {
    background-image: url(https://i.pinimg.com/474x/dd/60/ce/dd60ce758265f30a6ff8a9b8978e3274.jpg);
    height: 150px;
   
    .logo {
        margin-right: 15px;
        height: 150px;
        width: auto;
      }

    .header__container {
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            font-size: 40px;
            font-weight: 700;
            color: white;
        }

        .header__nav {
            display: flex;
            gap: 25px ;
            align-items: center;
            

            .header__link {
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}



.header-v {
    background-color: rgb(228, 19, 19);
}